<!DOCTYPE html>
<html>
<head>
  <title>JS Homework</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<button id="myButton" type="button">Click Me!</button>

<div id="userInfo">
  <table id="data-table" style="display: none;">
    <tbody id="tableBody">
      <tr>
        <td>Name:</td>
        <td id="name"></td>
      </tr>
      <tr>
        <td>Age:</td>
        <td id="age"></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td id="email"></td>
      </tr>
      <tr>
        <td>Address:</td>
        <td id="address"></td>
      </tr>
      <tr>
        <td>Position:</td>
        <td id="position"></td>
      </tr>
      <tr>
        <td>Skills:</td>
        <td id="skills"></td>
      </tr>
    </tbody>
  </table>
</div>

<object id="image" data="image.svg" type="image/svg+xml"></object>


<script src="script.js"></script>

</body>
</html>
